[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "*"
pillow = "*"
numpy = "*"
uvicorn = "*"
fastapi = {extras = ["all"], version = "*"}
jinja2 = "*"
python-multipart = "*"

[dev-packages]

[requires]
python_version = "3.11.9"
